alembic==1.0.8
autopep8==1.4.3
Click==7.0
decorator==4.4.0
Flask==1.0.2
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.8
MarkupSafe==1.1.1
pbr==5.1.3
pycodestyle==2.5.0
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.3.1
sqlalchemy-migrate==0.12.0
sqlparse==0.3.0
Tempita==0.5.2
Werkzeug==0.15.1
